[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
springframework = {path = "./", editable = true}


[dev-packages]
"testfixtures" = "*"
black = "*"
"flake8" = "*"
colorama = "*"
gunicorn = "*"
pipdeptree = "*"
pytest = '*'

[requires]
python_version = "3.6.8"

[pipenv]
allow_prereleases = true
